@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800&family=Roboto:ital,wght@0,100;0,300;0,900;1,500&display=swap");
.cards {
  margin-left: 10px;
  margin-top: 70px;
  margin-right: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  flex: 30%; }

.imagen_card {
  height: 20rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #020202; }

.imagen {
  width: 100%;
  height: 90%; }
  .imagen img {
    width: 100%; }

.img_text .button {
  padding: 0px;
  display: flex;
  align-self: center;
  font-size: 0, 5rem;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  background-color: transparent;
  margin-top: 3px;
  cursor: pointer;
  margin-top: 7px; }

.games_card {
  height: 20rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #020202; }

.games_card_image {
  width: 100%;
  height: 90%; }

.games_card_image img {
  width: 100%; }

.games_card_text .button {
  padding: 0px;
  display: flex;
  align-self: auto;
  font-size: 0,5rem;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  background-color: transparent;
  margin-top: 3px;
  cursor: pointer;
  margin-top: 5px; }

.card_pc {
  margin-left: 10px;
  margin-top: 70px;
  margin-right: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  flex: 30%; }

.pc_card {
  height: 20rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #020202; }

.pc_card_image {
  width: 100%;
  height: 90%; }

.pc_card_image img {
  width: 100%; }

.pc_card_text .button {
  padding: 0px;
  display: flex;
  align-self: auto;
  font-size: 0, 5rem;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  background-color: transparent;
  margin-top: 3px;
  cursor: pointer;
  margin-top: 5px; }

.radio-sections {
  display: grid;
  height: 150px;
  align-items: center;
  background-color: #181818;
  color: #fff;
  grid-template-areas: "play-online follow-me social-network"; }

.radio-sections .play-onlines {
  grid-template-areas: play-online;
  display: flex;
  justify-content: center;
  background-color: #EDCB54;
  color: #181818;
  padding: 38px; }

.radio-sections .play-onlines .fas {
  margin-right: 15px;
  font-size: 1.5em; }

.radio-sections h2 {
  grid-template-areas: follow-me;
  text-align: center; }

.radio-sections .social-network {
  grid-template-areas: social-network; }

.radio-sections .social-networks .fab {
  font-size: 1.4em;
  color: #EDCB54;
  margin-right: 15px;
  justify-content: flex-end; }

.fondocontact {
  background-image: url(../images/fondodecontact.png);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  font-family: monospace; }
  .fondocontact .fondocontact1 {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 258px 20px;
    box-sizing: border-box;
    border-radius: 7px; }
  .fondocontact .textcontact {
    color: #fff;
    text-align: center;
    margin: 0%;
    font-size: 30px;
    margin-bottom: 20px; }
  .fondocontact input, .fondocontact textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none; }
  .fondocontact textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.navbars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #EDCB54; }
  .navbars .logos {
    height: 80px;
    width: 60px;
    margin-left: 5%; }
  .navbars ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .navbars ul li {
      list-style: none;
      margin: 30px;
      font-weight: bolder; }
  .navbars a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: large; }
  .navbars a:hover {
    color: #fff; }
  .navbars .menu-bars {
    display: none; }

.heros {
  height: 83vh;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.9)), url(../images/banner.jpg);
  /* background-size: cover; */
  background-size: 100% 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  position: relative; }
  .heros .info-content {
    grid-column: 7/10;
    grid-row: 2/4;
    color: #fff; }
  .heros h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 300; }
  .heros h1 {
    font-size: 4em;
    color: #edcb54; }
  .heros p {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif; }
  .heros .btn {
    font-size: 1em;
    background: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #edcb54;
    border-radius: 30px;
    margin-top: 10px; }
    .heros .btn:hover {
      background-color: #fff;
      color: #181818; }
  .heros .info-content .btn:hover {
    background-color: #EDCB54;
    color: #181818; }

@media only screen and (max-width: 992px) {
  .cards {
    flex: 40%;
    flex-wrap: wrap;
    justify-content: center; } }

@media only screen and (max-width: 1220px) {
  .heros .info-content {
    grid-column: 2/7;
    grid-row: 3/6; }
  .card_pc {
    flex: 40%;
    flex-wrap: wrap;
    justify-content: center; } }
