@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800&family=Roboto:ital,wght@0,100;0,300;0,900;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #EDCB54;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }
  .navbar .logo {
    height: 60px;
    width: 60px;
    grid-column: 2 / 3;
  }
  .navbar .menu {
    grid-column: 4 / 7;
    display: flex;
  }
  .navbar ul li {
    margin-right: 3em;
    list-style: none;
  }
  .navbar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .navbar a:hover {
    color: #fff;
  }
  .navbar .menu-bar {
    display: none;
  }
  .navbar .shop {
    grid-column: 8 / 9;
    justify-content: flex-end;
  }
/* MAIN */
.hero {
    height: 83vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .9)) , url(../images/banner.jpg);
    /* background-size: cover; */
    background-size:100% 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
  }
.hero .info-content{
    grid-column: 7/10;
    grid-row: 2/4;
    color: #fff;
}
.hero h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

.hero h1{
    font-size: 4em;
    color: #edcb54;
}
.hero p{
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.hero .btn{
    font-size: 1em;
    background: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #edcb54;
    border-radius: 30px;
    margin-top: 10px;
}
.hero .btn:hover{
    background-color: #fff;
    color: #181818;
}

.hero .info-content .btn:hover {
    background-color: #EDCB54;
    color:#181818;
  }
  /* footer */

  .radio-section {
    display: grid;
    height: 80px;
    align-items: center;
    background-color: #181818;
    color: #fff;
    grid-template-areas: 
      "play-online follow-me social-network" 
  }
  .radio-section .play-online {
    grid-template-areas: play-online;
    display: flex;
    justify-content: center;
    background-color: #EDCB54;
    color:#181818;
    padding: 26px;
  }
  .radio-section .play-online .fas {
    margin-right: 15px;
    font-size: 1.5em;
  }
  .radio-section h2 {
    grid-template-areas: follow-me;
    text-align: center;
  }
  .radio-section .social-network {
    grid-template-areas: social-network;
  }
  .radio-section .social-network .fab {
    font-size: 1.4em;
    color: #EDCB54;
    margin-right: 15px;
    justify-content: flex-end;
  }
  
  /* GAMES */
  .fondocategorias{
    display: flex;
    align-items: flex-start;
  }
  .fondocategorias a{
    color: #181818;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
  }
  .fondocategorias a:hover{
    color: #EDCB54;
  }
 
 
 .cards{
  margin-left: 40px;
  margin-top: 70px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}
.games_card {
  height: 22rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(2, 2, 2);
  border-radius: 30px;
  padding-top: 15px;
}
 .games_card_image{
  width: 100%;
 }
 .games_card_image img{
     width: 100%;
 }
 .games_card_text .button{
  padding: 0px;
  display: flex; 
  align-self: auto;
  font-size: 0,5rem;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: transparent;
  margin-top: 3px;
  cursor: pointer;
  margin-top: 5px;
 }



  /* PC,CONSOLE */
  .card_pc{
    margin-left: 40px;
    margin-top: 70px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;
  }
  .pc_card {
    height: 18rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(2, 2, 2);
    border-radius: 30px;
    padding-top: 15px;
  }
   .pc_card_image{
    width: 100%;
   }
   .pc_card_image img{
       width: 100%;
   }
   .pc_card_text .button{
    padding: 0px;
    display: flex; 
    align-self: auto;
    font-size: 0,5rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: transparent;
    margin-top: 3px;
    cursor: pointer;
    margin-top: 5px;
   }

  /* CONTACT */
  .hero {
    height: 83vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .9)) , url(../images/banner.jpg);
    /* background-size: cover; */
    background-size:100% 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
  }
.hero .info-content{
    grid-column: 7/10;
    grid-row: 2/4;
    color: #fff;
}
.hero h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

.hero h1{
    font-size: 4em;
    color: #edcb54;
}
.hero p{
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.hero .btn{
    font-size: 1em;
    background: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #edcb54;
    border-radius: 30px;
    margin-top: 10px;
}
.hero .btn:hover{
    background-color: #fff;
    color: #181818;
}

.hero .info-content .btn:hover {
    background-color: #EDCB54;
    color:#181818;
  }

  


@media screen and (max-width: 1500px){
  .cards{
    grid-template-columns: repeat(1, 1fr);
  }
  .card_pc{
    grid-template-columns: repeat(2, 1fr);
  }
}



  @media only screen and (max-width: 1250px)  {
  
    .navbar {
      background-color: #EDCB54;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      align-items: center;
    }
    .navbar .logo {
      height: 60px;
      width: 60px;
      grid-column: 2 / 3;
    }
    .navbar .menu {
      grid-column: 4 / 7;
      display: flex;
    }
    .navbar ul li {
      margin-right: 3em;
      list-style: none;
    }
    .navbar ul li a {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    .navbar ul li a:hover {
      color: #fff;
    }
    .navbar .menu-bar {
      display: none;
    }
    .navbar .shop {
      grid-column: 8 / 9;
      justify-content: flex-end;
    }
    .navbar {
      position: relative;
    }
    .navbar .menu {
      position: absolute;
      width: 100%;
      height: 70vh;
      display: grid;
      align-items: center;
      background-color: #EDCB54;
      transform: translateX(170%);
      transition: all 1s;
      margin-top: 38em;
      z-index: 1;
    } 
    .navbar .menu-toggle {
      transform: translateX(0%);
    }  
     .navbar .shop {
       display: none;
     }
    .navbar .menu-bar {
      display: block;
    }
    .navbar .menu-bar .fas {
      color: #181818;
    }
    .navbar .menu li {
      list-style: none;
      margin: 0 auto;
    }  
    .navbar .menu li a {
      text-decoration: none;
      color: #181818;
      font-size: 1.2em;
    } 
    .navbar .menu-bar {
      grid-column: 8 / 10;
      color: #fff;
      font-size: 2em;
      cursor: pointer;
      z-index: 1;
    }  
    .hero .info-content {
      z-index: 0;
      grid-column: 2 / 9;
      grid-row: 5 / 7;
    }
    .hero .info-content h1 {
      font-size: 3.5em;
    }
    .hero .info-content h3 {
      font-size: 1em;
    }
    .radio-section {
      grid-template-areas:
      "play-online social-network"
    }
    .radio-section h2 {
      display: none;
    }
    .radio-section .social-network {
      margin: 0 auto;
    }
    .radio-section .social-network .fab {
      color: #fff;
    }
  }