// importo partials
@import "funciones/global";

// reset
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800&family=Roboto:ital,wght@0,100;0,300;0,900;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
.navbars {
    @include flexible (flex,row,wrap,space-between,center);
    background-color: #EDCB54;
    
    .logos {
        height: 80px;
        width: 60px;
        margin-left: 5%;
    }

    

    ul{
        @include flexible (flex,row,wrap,space-evenly,center);
        li{
        list-style: none;  
        margin: 30px;
        font-weight: bolder;
        }
    }

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-size: large;
    }

    a:hover {
        color: #fff;
    }

    .menu-bars {
        display: none;
    }
}
// main
.heros {
    height: 83vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .9)), url(../images/banner.jpg);
    /* background-size: cover; */
    background-size: 100% 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;

    .info-content {
        grid-column: 7/10;
        grid-row: 2/4;
        color: #fff;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 300;
    }

    h1 {
        font-size: 4em;
        color: #edcb54;
    }

    p {
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
    }

    .btn {
        font-size: 1em;
        background: none;
        color: #fff;
        padding: 10px 20px;
        border: 1px solid #edcb54;
        border-radius: 30px;
        margin-top: 10px;
        &:hover{
        background-color: #fff;
        color: #181818;
        }
    }

    .info-content {
        .btn{
        &:hover{
        background-color: #EDCB54;
        color: #181818;
            }
        }
    }
}

