// Creo mixin extend y maps

@mixin flexible($display,$dir,$wrap,$just,$aling){
    display: $display;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $aling;
}

// extends
.cards{
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex: 30%
}
.imagen_card {
    height: 20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(2, 2, 2);
} 
.imagen{
    width: 100%;
    height: 90%;
    img{
        width: 100%;
    }
}
.img_text .button{
    padding: 0px;
    display: flex;
    align-self: center;
    font-size: 0, 5rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: transparent;
    margin-top: 3px;
    cursor: pointer;
    margin-top: 7px;
}
.games_card {
    height: 20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(2, 2, 2);
}
.games_card_image{
    width: 100%;
    height: 90%;

}
.games_card_image img{
    width: 100%;
}
.games_card_text .button{
    padding: 0px;
    display: flex; 
    align-self: auto;
    font-size: 0,5rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: transparent;
    margin-top: 3px;
    cursor: pointer;
    margin-top: 5px;
}
.card_pc {
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex: 30%;
}

.pc_card {
    height: 20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(2, 2, 2);
}

.pc_card_image {
    width: 100%;
    height: 90%;
}

.pc_card_image img {
    width: 100%;
}

.pc_card_text .button {
    padding: 0px;
    display: flex;
    align-self: auto;
    font-size: 0, 5rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: transparent;
    margin-top: 3px;
    cursor: pointer;
    margin-top: 5px;
}
.radio-sections {
    display: grid;
    height: 150px;
    align-items: center;
    background-color: #181818;
    color: #fff;
    grid-template-areas:
        "play-online follow-me social-network"
}

.radio-sections .play-onlines {
    grid-template-areas: play-online;
    display: flex;
    justify-content: center;
    background-color: #EDCB54;
    color: #181818;
    padding: 38px;
}

.radio-sections .play-onlines .fas {
    margin-right: 15px;
    font-size: 1.5em;
}

.radio-sections h2 {
    grid-template-areas: follow-me;
    text-align: center;
}

.radio-sections .social-network {
    grid-template-areas: social-network;
}

.radio-sections .social-networks .fab {
    font-size: 1.4em;
    color: #EDCB54;
    margin-right: 15px;
    justify-content: flex-end;
}